<div class="row">


    <div class="col-md-6">

        <section id="sessions">
            <h2>Sessions</h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="n">Created</th>
                        <th class="n">ID</th>
                        <th>Status</th>
                        <th>Profile</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="loading">Loading…</div>
            </div>
        </section>

        <section id="orders">
            <h2>Orders</h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="n">Date</th>
                        <th class="n">ID</th>
                        <th>S</th>
                        <th>Changed</th>
                        <th>Session</th>
                        <th>Type</th>
                        <th class="n">Price</th>
                        <th class="n">Amount</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="loading">Loading…</div>
            </div>
        </section>
    </div>
    <div class="col-md-6">


        <section id="transactions">
            <h2>Transactions</h2>

            <div class="table-responsive">
                <table class="table table-striped table-hover table-condensed">
                    <thead>
                    <tr>
                        <th class="n">Date</th>
                        <th class="n">ID</th>
                        <th class="n">Order</th>
                        <th>Type</th>
                        <th class="n">BTC</th>
                        <th class="n">USD</th>
                        <th class="n">Fee</th>
                        <th class="n">Price</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="loading">Loading…</div>
            </div>
        </section>
    </div>


</div>
